*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    /* margin-left: 30px; */
    margin-top: 50px;
}
#character{
    width: 20px;
    height: 50px;
    background-color:cornflowerblue;
    /* The following two are to move the character to the bottom of the box. */
    position: relative;
    top: 150px;
    
}
.animate{
    animation: jump 500ms;

}

    @keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}

}


#block{
    width: 20px;
    height: 20px;
    background-color: green;
    /* The following three commands are to push the block down and  */
    /* push it all the way to the right. */
    position: relative;
    top:130px;
    left: 480px;
    animation: block 3s infinite linear;
}

/* Animation for the block */
@keyframes block {
    0%{left:480px;}
    100%{left:-40px;}
}